@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(50, 25, 82, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-left: auto;
}
.class-header-icon {
  display: none;
}

.class-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.class-navigation-list.is-open {
  right: 0;
}
.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(50, 25, 82, 1);
}

.class-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(50, 25, 82, 1);
}
.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.class-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 32px 0;
  gap: 28px;
  background: rgba(50, 25, 82, 1);
}

.class-navigation-list.is-open {
  right: 0;
}

.class-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

.class-navigation-link:hover,
.class-navigatioт-link:focus {
  color: rgba(255, 110, 199, 1);
}

.class-header.is-open {
  background-color: transparent;
}

.class-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .class-navigation-img {
    display: flex;
  }
  .class-policy-terms-header-icon-menu {
    display: none;
  }

  .class-header {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .class-header-background {
  }
  .class-header-icon-button {
    display: none;
  }
  .class-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .class-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .class-navigation-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;

    padding: 0px 30px;
    text-decoration: none;
  }

  .class-navigation-item-desk {
    display: none;
  }
}
.class-home {
  width: 375px;
  height: 800px;
  padding: 149px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.class-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-home-title {
  width: 375px;
  height: 192px;
  margin-bottom: 48px;
}

.class-home-google-button-image {
  width: 243px;
  height: 70px;
}

.class-home-google-button-link:hover .class-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .class-home {
    width: 1440px;
    height: 820px;
    padding: 136px 0px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .class-home-title {
    width: 831px;
    height: 396px;
    margin-bottom: 48px;
  }
}
.class-why {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.class-why-list {
  padding-top: 28px;
}

.class-why-item {
  width: 305px;
  height: 326px;
  border-radius: 18px;
  padding-top: 28px;
  padding-right: 22px;
  padding-bottom: 28px;
  padding-left: 22px;
  border: 4px solid #ff6ec7;
  margin: 0 5px;
}
.class-why-img {
  margin: auto;
}
.class-why-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0 18px;
  color: rgba(255, 110, 199, 1);
}

.class-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}
.slick-dots li {
  display: none;
}
@media screen and (min-width: 1200px) {
  .class-why {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .class-why-list {
    padding: 36px 0 26px;
  }

  .class-why-item {
    margin: 0 10px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li {
    display: inline-block;
    list-style: none;
    width: 16px;
    height: 16px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/why/Ellipse\ 2.png") no-repeat center/cover;

    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/why/Ellipse\ 2.png") no-repeat center/cover;
  }
}

.class-about {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
  height: 758px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 47.png");
}

.class-about-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 255, 255, 1);
}

.class-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  padding-top: 208px;
}
.class-about-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}
.class-about-text-bold {
  color: rgba(255, 110, 199, 1);
}

@media screen and (min-width: 1200px) {
  .class-about {
    padding: 140px 80px 0;
    width: 1440px;
    height: 645px;
    background-image: url("/img/Frame\ 48.png");
  }
  .class-about-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .class-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    width: 630px;
    padding-top: 36px;
  }
  .class-about-text-two {
    width: 630px;
    margin-top: 220px;
    margin-left: 650px;
  }
}
.class-how {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.class-how-list {
  padding-top: 28px;
}

.class-how-item {
  width: 305px;
  height: 304px;
  margin: 0 5px;
}

.class-how-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 110, 199, 1);
  padding: 14px 0 8px;
}

.class-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .class-how {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .class-how-list {
    padding: 36px 0 26px;
  }

  .class-how-item {
    width: 305px;
    height: 304px;
    margin: 0 10px;
  }
}

.class-reviews {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.class-reviews-list {
  padding-top: 28px;
}
.class-reviews-lists {
  display: none;
}
.class-reviews-item {
  margin: 0 5px;
  border: 2px solid;
  width: 335px;
  height: 188px;
  border-radius: 18px;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
  border: 2px solid #ff6ec7;
}

.class-reviews-item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}

.class-reviews-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 110, 199, 1);
}

.class-reviews-text {
  padding: 16px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

.class-gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .class-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 232px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
  }

  .class-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .class-gallery-button:hover {
    scale: 120%;
  }

  .class-reviews {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .class-reviews-list {
    display: none;
  }
  .class-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 36px;
  }
  .class-reviews-item {
    margin: 0;
    width: 413px;
    height: 188px;
    border-radius: 18px;
    padding-top: 22px;
    padding-right: 25px;
    padding-bottom: 22px;
    padding-left: 25px;
  }

  .class-reviews-item-top {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.class-faq {
  padding: 0px 20px 60px;
  margin: auto;
  width: 375px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/FAQ\ \(1\).png");
}

.class-faq-container {
  padding-top: 516px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.class-faq-item {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(251, 249, 251, 1);
}

.class-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;
  color: rgba(252, 214, 15, 1);
}

.class-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.class-faq-answer {
  display: none;
  padding: 16px 0 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .class-faq {
    padding: 90px 80px 0;
    width: 1440px;
    height: 995px;
    margin-top: 40px;
    background-image: url("/img/Frame\ 50.png");
  }
  .class-faq-container {
    padding-top: 36px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 14px;
    width: 630px;
  }
}
.class-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.class-gallery-list {
  padding-top: 28px;
}

.class-gallery-item {
  width: 197px;
  height: 350px;
  border-radius: 18px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.class-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .class-gallery {
    width: 1440px;
    padding: 140px 80px 0;
  }

  .class-gallery-item {
    width: 197px;
    height: 350px;
    border-radius: 18px;

    margin: 0 10px;
  }

  .class-gallery-list {
    padding: 36px 0 26px;
  }
}

.class-features {
  width: 375px;
  height: 1393px;
  background-image: url("/img/Advantages.png");
  margin: auto;
  margin-top: 80px;
  padding: 0px 35px 0px;
}

.class-features-list {
  padding-top: 486px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.class-features-item {
  width: 305px;
  height: 132px;
  gap: 12px;
  border-radius: 18px;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 18px;
  padding-left: 22px;
  border: 1px solid #ff6ec7;
}

.class-features-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 110, 199, 1);
}

.class-features-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .class-features {
    width: 1440px;
    height: 642px;
    background-image: url("/img/Frame\ 49.png");
    padding: 130px 80px 0;
    margin: auto;
  }
  .class-features-list {
    padding-top: 26px;
    width: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .class-features-item {
    width: 305px;
    height: 132px;
    border-radius: 18px;
    padding-top: 18px;
    padding-right: 22px;
    padding-bottom: 18px;
    padding-left: 22px;
    border: 1px solid #ff6ec7;
  }
}

.class-policy-terms-container {
  padding: 114px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

.class-policy-terms-title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 255, 255, 1);
}

.class-policy-terms-text {
  padding-top: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

.class-policy-terms-texts {
  padding-top: 8px;
}

.class-policy-terms-text-one {
  padding-top: 20px;
}

.class-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.class-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.class-email-link {
  color: inherit;
  text-decoration: none;
}

.class-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .class-policy-terms-container {
    padding: 111px 180px 80px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
  }

  .class-policy-terms-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .class-policy-terms-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;

    padding-top: 40px;
  }

  .class-policy-terms-text-one {
    padding-top: 30px;
  }

  .class-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.class-footer {
  width: 375px;
  margin: auto;
  color: rgba(50, 25, 82, 1);
  padding: 17px 20px;
  background: rgba(255, 110, 199, 1);
}

.class-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}

.class-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.class-footer-text {
  text-decoration: none;
  color: rgba(50, 25, 82, 1);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.class-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .class-footer {
    width: 1440px;
    padding: 46px;
  }

  .class-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .class-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 157px;
  }

  .class-footer-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .class-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.class-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 22px;
  background: rgba(50, 25, 82, 1);

  z-index: 1000;
  display: none;
}

.class-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: rgba(255, 110, 199, 1);
}

.class-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.class-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 110, 199, 1);
  width: 295px;
  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 110, 199, 1);
  text-transform: capitalize;
}

#accept-cookies {
  background: rgba(255, 110, 199, 1);
  color: rgba(50, 25, 82, 1);
}

.class-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .class-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .class-cookie-popup-text-two {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 600px;
  }

  .class-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .class-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px;
    display: none;
  }
}
